body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
}

.container {
    text-align: center;
   
}

.candle {
    width: 16px;
    height: 60px;
    background-color: #a5628f;
    margin: 0 auto;
    position: relative;
}
.khung{
    
    display: flex;
    position: relative;
}
.container{
    border: 1px solid black;
    position: absolute;
    top: 133px;
    left:317px;
}

.flame {
    width: 10px;
    height: 15px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: -20px;
    left: 7px;
    transform: translateX(-50%);
    animation: flicker 0.1s infinite alternate;
}
@keyframes flicker {
    from {
        transform: translateX(-50%) scale(1);
    }
    to {
        transform: translateX(-50%) scale(1.2);
    }
}

#status {
    margin-top: 20px;
    font-size: 18px;
}

